
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="about" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block">
        <div class="content-block-inner">
          <div class="contact-form">
          	<iframe style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3850423.5840892573!2d88.00946541608995!3d23.70689848632689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30adaaed80e18ba7%3A0xf2d28e0c4e1fc6b!2sBangladesh!5e0!3m2!1sen!2sus!4v1447658069068"></iframe>
          	<h4>Send us an Email</h4>
			<form action="mail.php">
				<input type="text" name="firstname" placeholder="First name" />
				<input type="text" name="lastname" placeholder="Last name" />
				<input type="email" name="email" placeholder="Email" />
				<textarea name="message" id="message" cols="30" rows="4" placeholder="Your Message Here"></textarea>
				<div class="item-content">
				  <div class="item-inner"> 
					<div class="item-input">
					  <button type="submit" class="button button-big">SEND</button>
					</div>
				  </div>
				</div>
			</form>
			<div class="contact-info">
				<h4 class="section-title">ECOM</h4>
				<p>123 West Street, Rampura  <br>Dhaka, Bangladesh</p>
				<p>TEL : +61012345678 <br>EMAIL : mail@ecom.com</p>
			</div>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>