
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="gallery" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="homepage">
          <div class="page-menu">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                <!-- left link contains only icon - additional "icon-only" class--><a href="index.html" class="link"><img src="img/menu.png" alt=""></a>
                </div>
                <!-- We have home navbar without left link-->
                <div class="center sliding"><img src="img/logo2.png" alt="" /></div>
                <div class="right">
                <!-- right link contains only icon - additional "icon-only" class--><a class="item-link close-panel item-content external" href="tel:+88-01627-600206"><img src="img/menu2.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <!-- our photos start -->
          <div class="familiy-area img-gallery">
            <div class="section-title">
              <h2>Photo Gallery</h2>
            </div>
            <div class="gallerymain">
              <div class="row">
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/gallery/1.jpg" class="swipebox" title="Birthday Gift">
                      <img src="img/gallery/1.jpg" alt="">
                      <h3>Beach Play</h3>
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/gallery/2.jpg" class="swipebox" title="Perfect Couple">
                      <img src="img/gallery/2.jpg" alt="">
                       <h3>Golden Gate</h3>
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/gallery/3.jpg" class="swipebox" title="Engagement Ring">
                      <img src="img/gallery/3.jpg" alt="">
                      <h3>Fun in The Park</h3>
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/gallery/4.jpg" class="swipebox" title="Our Future Home">
                      <img src="img/gallery/4.jpg" alt="">
                      <h3>Not a Chameleon</h3>
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/gallery/5.jpg" class="swipebox" title="Gifted Dog">
                      <img src="img/gallery/5.jpg" alt="">
                      <h3>Love</h3>
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/gallery/6.jpg" class="swipebox" title="Funny Moment">
                      <img src="img/gallery/6.jpg" alt="">
                      <h3>High Life</h3>
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
              </div>
            </div>
          </div>
          <!-- our photos start --> 
          <div class="pagination">
            <ul>
              <li><a href="#"><img src="img/prev.png" alt=""></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#"><img src="img/next.png" alt=""></a></li>
            </ul>
          </div >       
            <!-- footer  start-->
          <div class="fotter-text"><p>2016 The Pet Photographer <sup>&reg;</sup> All Rights Reserved</p></div>
          <!-- footer  end--> 
      </div>
    </div>
  </div>
</div>