
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="home-page" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="homepage">
          <div class="page-menu">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                <!-- left link contains only icon - additional "icon-only" class--><a href="index.html" class="link"><img src="img/menu.png" alt=""></a>
                </div>
                <!-- We have home navbar without left link-->
                <div class="center sliding"><img src="img/logo2.png" alt="" /></div>
                <div class="right">
                <!-- right link contains only icon - additional "icon-only" class--><a class="item-link close-panel item-content external" href="tel:+88-01627-600206"><img src="img/menu2.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
           <!-- slider area start-->
          <div class="slider-area">
            <div class="ks-slider-custom">
              <div data-pagination=".swiper-pagination" data-space-between="0" data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev" data-pagination-clickable="true" class="swiper-container swiper-init">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                        <img src="img/home/1.jpg" alt="">
                        <div class="slide-text">
                          <h2>We are getting married!</h2>
                          <p>24 Decembar 2015</p>
                        </div>              
                      </div> 
                  <div class="swiper-slide">
                        <img src="img/home/2.jpg" alt="">
                        <div class="slide-text">
                          <h2>We are getting married!</h2>
                          <p>24 Decembar 2015</p>
                        </div>              
                      </div> 
                  <div class="swiper-slide">
                        <img src="img/home/3.jpg" alt="">
                        <div class="slide-text">
                          <h2>We are getting married!</h2>
                          <p>24 Decembar 2015</p>
                        </div>               
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <!-- slider area start-->
          <div class="couple-area">
            <div class="section-title">
              <h2>The Couple</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
            <div class="row">
              <div class="col-100 tablet-50">
                <div class="couple-box">
                  <div class="couple-img"><img src="img/couple/1.jpg" alt=""></div>
                  <div class="couple-text">
                      <h2>Eric Harvey</h2>
                      <span>The Groom</span>  
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                      <div class="social-icone"> 
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                  </div>
                </div>                
              </div>
              <div class="col-100 tablet-50">
                <div class="couple-box">
                  <div class="couple-img"><img src="img/couple/2.jpg" alt=""></div>
                  <div class="couple-text">
                      <h2>Jessica Ruiz</h2>
                      <span>The bride</span>  
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                      <div class="social-icone"> 
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div> 
            </div> 
          </div> 
          <!-- footer  start-->
          <div class="fotter-text"><p>2015  <sup>&reg;</sup> All Rights Reserved - HALEX APP.</p></div>
          <!-- footer  end--> 
      </div>
    </div>
  </div>
</div>