
<!-- We don't need full layout here, because this page will be parsed with Ajax-->
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="our-story" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="homepage">
          <div class="page-menu">
            <div class="navbar">
              <div class="navbar-inner">
                <div class="left">
                <!-- left link contains only icon - additional "icon-only" class--><a href="index.html" class="link"><img src="img/menu.png" alt=""></a>
                </div>
                <!-- We have home navbar without left link-->
                <div class="center sliding"><img src="img/logo2.png" alt="" /></div>
                <div class="right">
                <!-- right link contains only icon - additional "icon-only" class--><a class="item-link close-panel item-content external" href="tel:+88-01627-600206"><img src="img/menu2.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="story-area">
            <div class="section-title">
              <h2 class="mt-10">Our Love Story</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
          </div> 
          <div class="university-area">
              <h2>First met in University</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
          </div> 
          <div class="familiy-area borb">
            <div class="section-title">
              <h2> Best Friends</h2>
            </div>
          </div>
          <!-- our photos start -->
          <div class="familiy-area img-gallery">
            <div class="section-title">
              <h2>Some of our Photos</h2>
            </div>
            <div class="gallerymain">
              <div class="row">
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/story/1.jpg" class="swipebox" title="My Caption">
                      <img src="img/story/1.jpg" alt="">
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/story/2.jpg" class="swipebox" title="My Caption">
                      <img src="img/story/2.jpg" alt="">
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/story/3.jpg" class="swipebox" title="My Caption">
                      <img src="img/story/3.jpg" alt="">
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/story/4.jpg" class="swipebox" title="My Caption">
                      <img src="img/story/4.jpg" alt="">
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/story/5.jpg" class="swipebox" title="My Caption">
                      <img src="img/story/5.jpg" alt="">
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
                <!-- single-gallery start -->
                <div class="col-50">
                  <div class="img-box">
                   <a href="img/story/6.jpg" class="swipebox" title="My Caption">
                      <img src="img/story/6.jpg" alt="">
                  </a>
                  </div>
                </div>
                <!-- single-gallery end -->
              </div>
            </div>
          </div>
          <!-- our photos start -->
          <!-- Proposed start -->
          <div class="proposed-area">
            <div class="section-title proposed">
              <h2>She Proposed</h2>
            </div>
          </div>
          <div class="familiy-area proposed">
            <div class="section-title">
              <h2>He Said Yes!</h2>
            </div>
          </div>          
          <!-- Proposed end -->



         
            <!-- footer  start-->
          <div class="fotter-text"><p>2015  <sup>&reg;</sup> All Rights Reserved - HALEX APP.</p></div>
          <!-- footer  end--> 
      </div>
    </div>
  </div>
</div>